//FONTS
@font-face {
    font-family: 'Heebo-Black';
    src: url(fonts/Heebo-Black.ttf);
}
@font-face {
    font-family: 'Heebo-Bold';
    src: url(fonts/Heebo-Bold.ttf);
}
@font-face {
    font-family: 'Heebo-Medium';
    src: url(fonts/Heebo-Medium.ttf);
}
@font-face {
    font-family: 'Heebo-Regular';
    src: url(fonts/Heebo-Regular.ttf);
}

//font variables
$fontBlack: 'Heebo-Black';
$fontBold: 'Heebo-Bold';
$fontMedium: 'Heebo-Medium';
$fontRegular: 'Heebo-Regular';


//breakpoint variables
$minWidth: 320px;
$maxWidth: 1152;
$maxWidthContainer: 856;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 757.98;
$md4: 479.98;

//MENU
.header {
    .header__content_container {
        max-width: 1052px;
        padding: 0px 10px;
    }

    .header__menu {
        display: flex;
        justify-content: flex-end;
        height: 82px;
        align-items: center;
        @media (max-width: $md3+px) {
            height: 50px;
        }
    }

    .menu__body {
        @media(max-width:$md3+px) {
            transform: translate(0px, -100%);
            transition: transform 0.8s ease;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            overflow: auto;
            padding: 60px 10px 30px 10px;
            background-color: rgb(255, 255, 255, 0.8);
            &._active {
                transform: translate(0px, 0%);
            }
        }
        .menu__list {
            li {
                list-style: none;
                margin: 0 0 0 33px;
                .menu__link {
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    color: #000;
                    font-family: $fontRegular; 
                    text-decoration: none;
                    @media(min-width: $md2+px){   
                        &:hover {
                            color: #FF6464;
                        }
                    }
                    @media(max-width: $md3+px) {
                       font-size: 40px; 
                       display: block;
                       text-align: center; 
                    }                   
                }
            }
            @media(min-width: $md3+px) {
                display: flex;
            }
            @media(max-width: $md3+px) {
                li {
                    margin: 0 0 18px 0px;                    
                }
            }
        }
    }
}

//BURGER MENU
.icon-menu {
    display: none;
    @media(max-width:$md3+px) {
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5;
        span {
            transition: all 0.8s ease 0s;
            top: calc(50% - 1px);
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #000;
            &:first-child {
                top: 0px;
            }
            &:last-child {
                top: auto;
                bottom: 0px;
            }
        }
    }
    &._active {
        span {
            transform: rotate(-45deg);
            top: 0px;
            &:first-child {
                transform: rotate(45deg);
            }
            &:last-child {
                height: 0;
            }
        }
    }
}