@font-face {
  font-family: "Heebo-Black";
  src: url(/src/fonts/Heebo-Black.ttf);
}
@font-face {
  font-family: "Heebo-Bold";
  src: url(/src/fonts/Heebo-Bold.ttf);
}
@font-face {
  font-family: "Heebo-Medium";
  src: url(/src/fonts/Heebo-Medium.ttf);
}
@font-face {
  font-family: "Heebo-Regular";
  src: url(/src/fonts/Heebo-Regular.ttf);
}
body {
  color: #21243D;
  margin: 0;
  padding: 0;
  font-family: "Heebo-Regular";
}

._container {
  margin: 0 145px 0 145px;
}
@media (max-width: 1152px) {
  ._container {
    max-width: 868px;
  }
}
@media (max-width: 991.98px) {
  ._container {
    max-width: 991.98px;
    margin: 0 30px 0 30px;
  }
}
@media (max-width: 757.98px) {
  ._container {
    max-width: 757.98px;
    margin: 0 0 0 0;
  }
}
@media (max-width: 479.98px) {
  ._container {
    max-width: 479.98px;
  }
}

.header {
  position: relative;
  z-index: 100;
}
.header .header__content {
  margin: 0 60px 0 145px;
  max-width: 1152px;
}
@media (max-width: 757.98px) {
  .header .header__content {
    margin-right: 18px;
  }
}
.header .header__menu {
  display: flex;
  justify-content: flex-end;
  height: 82px;
  align-items: center;
}
@media (max-width: 757.98px) {
  .header .header__menu {
    height: 50px;
  }
}
@media (max-width: 757.98px) {
  .header .menu__body {
    transform: translate(0px, -100%);
    transition: transform 0.8s ease;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    padding: 60px 10px 30px 10px;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .header .menu__body._active {
    transform: translate(0px, 0%);
  }
}
.header .menu__body .menu__list li {
  list-style: none;
  margin: 0 0 0 33px;
}
.header .menu__body .menu__list li .menu__link {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  color: #000;
  font-family: "Heebo-Regular";
  text-decoration: none;
}
@media (min-width: 991.98px) {
  .header .menu__body .menu__list li .menu__link:hover {
    color: #FF6464;
  }
}
@media (max-width: 757.98px) {
  .header .menu__body .menu__list li .menu__link {
    font-size: 40px;
    display: block;
    text-align: center;
  }
}
@media (min-width: 757.98px) {
  .header .menu__body .menu__list {
    display: flex;
  }
}
@media (max-width: 757.98px) {
  .header .menu__body .menu__list li {
    margin: 0 0 18px 0px;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 757.98px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    transition: all 0.8s ease 0s;
    top: calc(50% - 1px);
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
}
.icon-menu._active span {
  transform: rotate(-45deg);
  top: 0px;
}
.icon-menu._active span:first-child {
  transform: rotate(45deg);
}
.icon-menu._active span:last-child {
  height: 0;
}

.page {
  padding: 90px 0 0 0;
}
@media (max-width: 868px) {
  .page {
    padding: 33px 0 71px 0;
  }
}

.hello {
  padding: 38px 0 71px 0;
}
@media (max-width: 868px) {
  .hello {
    padding: 0 0 71px 0;
  }
}
@media (max-width: 757.98px) {
  .hello {
    padding: 0 0 60px 0;
  }
}

.hello__container {
  display: flex;
}
@media (max-width: 757.98px) {
  .hello__container {
    flex-direction: column-reverse;
    text-align: center;
  }
}
.hello__container .hello__content {
  align-items: flex-start;
  flex: 1 1 auto;
  padding: 18px 115px 0 0;
}
@media (max-width: 868px) {
  .hello__container .hello__content {
    padding: 18px 50px 0 0;
  }
}
@media (max-width: 757.98px) {
  .hello__container .hello__content {
    padding: 40px 0 0 0;
  }
}
.hello__container .hello__content .hello__title {
  margin: 0 0 30px 0;
}
@media (max-width: 757.98px) {
  .hello__container .hello__content .hello__title {
    margin: 0 0 20px 0;
  }
}
.hello__container .hello__content .title {
  font-family: "Heebo-Bold";
  font-size: 44px;
  width: 506px;
  height: 105px;
  left: 148px;
  top: 228px;
}
@media (max-width: 757.98px) {
  .hello__container .hello__content .title {
    font-size: 32px;
    width: auto;
  }
}
.hello__container .hello__content .hello__text {
  margin: 0 0 30px 0;
}
@media (max-width: 757.98px) {
  .hello__container .hello__content .hello__text {
    padding: 0 15px 0 15px;
    margin: 0 0 25px 0;
  }
}
.hello__container .hello__content .text {
  font-family: "Heebo-Regular";
  font-size: 16px;
  line-height: 23px;
}
.hello__container .hello__content .hello__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 208px;
  height: 47px;
  left: 148px;
  top: 477px;
  background: #FF6464;
  border-radius: 2px;
  color: #fff;
  text-decoration: none;
  font-family: "Heebo-Regular";
  font-size: 20px;
  line-height: 29px;
  transition: background-color 0.5s ease;
}
.hello__container .hello__content .hello__btn:hover {
  background-color: #cc3636;
}
.hello__container .hello__avatar {
  flex: 0 0 243px;
  height: 243px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: -5px 13px 0 0 #EDF7FA;
}
.hello__container .hello__avatar img {
  max-width: 100%;
  height: 100%;
}
@media (max-width: 757.98px) {
  .hello__container .hello__avatar {
    max-width: 170px;
    max-height: 170px;
    margin: auto;
  }
}

.recent-posts {
  background-color: #EDF7FA;
  padding: 25px 0 30px 0;
}
@media (max-width: 757.98px) {
  .recent-posts {
    padding: 25px 0 23px 0;
  }
}
.recent-posts__container .recent-posts__header {
  display: flex;
  justify-content: space-between;
  font-family: "Heebo-Regular";
  font-style: normal;
}
.recent-posts__container .recent-posts__header .recent-posts__title {
  padding: 0 20px 0 0;
  margin: 0 0 20px 0;
  font-size: 22px;
  color: #21243D;
}
@media (max-width: 757.98px) {
  .recent-posts__container .recent-posts__header .recent-posts__title {
    margin: auto auto 20px auto;
    font-size: 18px;
  }
}
.recent-posts__container .recent-posts__header .recent-posts__view-all {
  font-size: 16px;
  color: #00A8CC;
  line-height: 23px;
  text-align: right;
  flex-wrap: nowrap;
}
@media (max-width: 757.98px) {
  .recent-posts__container .recent-posts__header .recent-posts__view-all {
    display: none;
  }
}
.recent-posts__container .recent-posts__items {
  margin: 0px -10px;
}
@media (min-width: 757.98px) {
  .recent-posts__container .recent-posts__items {
    display: flex;
  }
}
.recent-posts__container .recent-posts__items .recent-posts__column {
  flex: 0 1 50%;
  padding: 0 10px;
  margin: 0 0 17px 0;
}
@media (max-width: 757.98px) {
  .recent-posts__container .recent-posts__items .recent-posts__column {
    margin: 0 10px 17px 10px;
  }
}
.recent-posts__container .recent-posts__items .recent-post {
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  padding: 23px;
}
.recent-posts__container .recent-posts__items .recent-post__title {
  display: inline-block;
  margin: 0 0 17px 0;
  color: inherit;
  font-size: 26px;
  line-height: 38px;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.3s ease;
}
@media (min-width: 991.98px) {
  .recent-posts__container .recent-posts__items .recent-post__title:hover {
    color: #FF6464;
  }
}
@media (max-width: 757.98px) {
  .recent-posts__container .recent-posts__items .recent-post__title {
    font-size: 22px;
    margin: 0 0 5px 0;
  }
}
.recent-posts__container .recent-posts__items .recent-post__info {
  margin: 0 0 15px 0;
  font-size: 18px;
  line-height: 26px;
}
.recent-posts__container .recent-posts__items .recent-post__info span {
  margin: 0 10px;
}
@media (max-width: 757.98px) {
  .recent-posts__container .recent-posts__items .recent-post__info {
    font-size: 16px;
  }
}

.featured-works {
  padding: 30px 0 80px 0;
}
.featured-works__title {
  margin: 0 0 15px 0;
  font-size: 22px;
}
@media (max-width: 757.98px) {
  .featured-works__title {
    margin: 0 0 15px 0;
    text-align: center;
    font-size: 18px;
  }
}
@media (max-width: 757.98px) {
  .featured-works__items {
    padding: 30px 0 30px 0;
    display: flex;
    margin: 0 10px;
    overflow: auto;
  }
}
@media (max-width: 757.98px) {
  .featured-works .works__item {
    flex: 0 0 85%;
    margin: 0 15px 0 0;
  }
}

.works__item {
  border-bottom: 1px solid #E0E0E0;
  padding: 0 0 30px 0;
  margin: 0 0 30px 0;
}
@media (min-width: 757.98px) {
  .works__item {
    display: flex;
    align-items: flex-start;
  }
}
.works__item .works__image {
  flex: 0 0 246px;
  border-radius: 6px;
  min-height: 180px;
  overflow: hidden;
}
@media (max-width: 757.98px) {
  .works__item .works__image img {
    margin: auto auto 17px auto;
    width: 100%;
    max-height: 250px;
  }
}
.works__item .works__body {
  flex: 1 1 auto;
  padding: 0 0 0 18px;
}
.works__item .works__body .works__title {
  font-size: 30px;
  line-height: 44px;
  font-weight: 700;
}
@media (max-width: 757.98px) {
  .works__item .works__body .works__title {
    font-size: 24px;
  }
}
.works__item .works__body .works__info {
  display: inline-flex;
  align-items: center;
}
@media (max-width: 757.98px) {
  .works__item .works__body .works__info {
    font-size: 16px;
  }
}
.works__item .works__body .works__info .works__year {
  background: #142850;
  height: 25px;
  padding: 0 10px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  color: #fff;
  font-weight: 900;
  font-size: 18px;
  display: inline-block;
  margin: 0 0 15px 0;
}
.works__item .works__body .works__info .works__category {
  font-weight: normal;
  font-size: 20px;
  color: #8695A4;
  display: inline-block;
  margin: 0 0 15px 20px;
}

.footer {
  text-align: center;
  padding: 50px 0;
}
.footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 25px 0;
}
.footer .social .social__item {
  padding-left: 35px;
}
.footer .social .social__item:first-child {
  padding-left: 0;
}
.footer__copy {
  font-size: 14px;
  color: #21243D;
}/*# sourceMappingURL=style.css.map */